#!/bin/bash

# .bootstrap/setup.yml hash: {{ include "dot_bootstrap/setup.yml" | sha256sum }}

echo "🔧 Starting bootstrap process..."
echo "📋 Running Ansible playbook for setup..."

ansible-playbook {{ joinPath .chezmoi.sourceDir "dot_bootstrap/setup.yml" | quote }} --ask-become-pass

echo "✅ Bootstrap process completed!"


